<!DOCTYPE html>
<title>{% block title %}{% endblock %} FindMyFragrance</title>
<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="full-body-container">
    <div class="top-text">
      <div class="findMyFragrance-title">
        <h1 id="color-pink">FindMyFragrance</h1>
      </div>
      <div id="perf-search-box">
        <div class="input-box">
          <img src="{{ url_for('static', filename='images/mag.png') }}" />
          <!-- <input
          placeholder="Search for a fragrance"
          id="filter-text-val"
          style="background-color: #efe4e0"
          onkeyup="filterText()"
        /> -->
          <input
            type="text"
            placeholder="Search for a fragrance"
            id="search-text"
            onkeyup="loadPerfSuggestion()"
            style="background-color: #efe4e0; width: 400px"
          />
        </div>
        <input
          type="button"
          class="input-box"
          id="search-button"
          value="SEARCH"
          style="width: 100px"
        />
        <div id="perf-auto-box"></div>
      </div>
    </div>
    <div class="filter-container">
      <div class="filter-buttons">
        <p>Preference:</p>
        <input type="radio" , id="male-button" , name="gender" , value="male" />
        <label for="male-button"> Male</label>
        <input
          type="radio"
          ,
          id="female-button"
          ,
          name="gender"
          ,value="female"
        />
        <label for="female-button"> Female</label>
        <input
          type="radio"
          ,
          id="no-pref-button"
          ,
          name="gender"
          ,
          value="no preference"
          checked
        />
        <label for="no-pref-button" style="display: inline">
          No preference</label
        >
      </div>
      <div class="filter-rating">
        <!-- <label for="rating">Min. Rating: </label> -->
        <p>Min. Rating:</p>
        <input
          type="number"
          step="0.01"
          id="rating"
          name="rating"
          style="width: 50px"
          value="0.0"
        />
      </div>
    </div>
    <div class="like-dislike-container">
      <h4 class="title" style="margin-left: 20px">Fragrances you liked:</h4>
      <div id="like-list"></div>
      <h4 class="title" style="margin-left: 20px">Fragrances you disliked:</h4>
      <div id="dislike-list"></div>
    </div>
    <div id="query-box" class="result-box">
      <div class="result-heading" id="query-heading-text"></div>
    </div>
    <!-- <div class="loader"></div> -->
    <div id="result-box" class="result-box">
      <div class="result-heading" id="result-heading-text">Search results:</div>
    </div>
  </div>

  <script src="static/script.js" async></script>
</body>
