<!DOCTYPE html>
<title>{% block title %}{% endblock %} FindMyFragrance </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="full-body-container">
    <div class="top-text">
      <div class="findMyFragrance-title">
        <h1 id="color-pink">FindMyFragrance</h1>
      </div>
      <div>
        <div class="input-box" onclick="sendFocus()">
          <img src="{{ url_for('static', filename='images/mag.png') }}" />
          <!-- <input
          placeholder="Search for a fragrance"
          id="filter-text-val"
          style="background-color: #efe4e0"
          onkeyup="filterText()"
        /> -->
          <input
            type="text"
            placeholder="Search for a fragrance"
            id="search-text"
            style="background-color: #efe4e0; width: 400px"
          />
        </div>
        <input
          type="button"
          class="input-box"
          id="search-button"
          value="Find Fragrances"
          style="width: 150px"
        />
      </div>
    </div>
    <div id="result-box">
      <div class="result-heading" id="result-heading-text">Search results:</div>
    </div>
  </div>

  <script>
    const button = document.getElementById('search-button')
    console.log(button)
    button.addEventListener('click', returnResults)
    
    results = [
        {
          img: "{{ url_for('static', filename='images/perfume-default.png') }}",
          name: 'Name1',
          brand: 'Brand1',
          notes: 'notes1, notes1, notes1, notes1',
          desc: 'description1 description1 description1 description1 description1 description1 description1 description1 description1 description1 description1 description1 '
        },
        {
          img: "{{ url_for('static', filename='images/perfume-default.png') }}",
          name: 'Name2',
          brand: 'Brand2',
          notes: 'notes2, notes2, notes2',
          desc: 'description2 description2 description2 description2 description2 description2 description2 description2 description2 '
        },
        {
          img: "{{ url_for('static', filename='images/perfume-default.png') }}",
          name: 'Name3',
          brand: 'Brand3',
          notes: 'notes3, notes3, notes3, notes3, notes3',
          desc: 'description3 description3 description3 description3 description3 description3 description3 description3 '
        }
      ]
    
    function resultTemplate(img, name, brand, notes, desc) {
      return `<div class='result-card'>
                <img src=${img} class='fragrance-img'>
                <h3 class='fragrance-name'>${name} by ${brand}</h3>
                <p class='fragrance-detail'>Notes: ${notes}</p>
                <p class='fragrance-detail'>Description: ${desc}</p>
            </div>`
    }

    function returnResults() {
      var query = document.getElementById('search-text').value

      document.getElementById('result-heading-text').textContent =
        'Search results similar to "' + query + '":'

      // todo: call a backend endpoint here & pass the query to retrieve the top 3 results data and store them as 'results'
      // for now use a dummy data

    //   fetch("/similar?" + new URLSearchParams({ title: query }).toString())
    //   .then((response) => response.json())
    //   .then(results.forEach(res => {

    //     let tempDiv = document.createElement('div')
    //     tempDiv.innerHTML = resultTemplate(
    //       res.img,
    //       res.name,
    //       res.brand,
    //       res.notes,
    //       res.desc)
    //     document.getElementById('result-box').appendChild(tempDiv)
    // }));

      // pseudocode
      // fetch("/similar?" + new URLSearchParams({ title: query }).toString())
      // .then(response) => response.json())
      // .then(move the results.foreach here);
    }
  </script>
</body>
